<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../partials/styles') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <main class="container">
        <div class="card">
            <div class="card-content">
                <div class="center">
                    <h4 class="uppecase">admin</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="parallax-container">
                    <div class="parallax"><img src="../../images/duotone(4).png"></div>
                </div>
            </div>
            <div class="col s6">
                    <div class="parallax-container">
                        <div class="parallax"><img src="../../images/duotone(5).png"></div>
                    </div>
                </div>
        </div>
        <div class="card">
                <div class="card-content">
                    <div class="center">
                        <h4 class="uppecase">admin</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col s6">
                        <div class="parallax-container">
                            <div class="parallax"><img src="../../images/duotone(4).png"></div>
                        </div>
                    </div>
                    <div class="col s6">
                            <div class="parallax-container">
                                <div class="parallax"><img src="../../images/duotone(5).png"></div>
                            </div>
                        </div>
                </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repellendus vel accusantium rerum perspiciatis
        quam animi omnis, sapiente esse voluptas labore. Laudantium, molestias. Fugit repellat earum atque culpa in ad
        quod, inventore perferendis nemo omnis laborum quos exercitationem est nihil totam corporis, beatae iure ipsum?
        Commodi, repudiandae rem rerum dolorum perspiciatis autem quas ducimus facilis quibusdam, harum minus velit
        maiores mollitia quisquam asperiores aliquam ad suscipit laborum! Unde, minus culpa, quas fuga enim sit ab
        nesciunt, facere dignissimos quam error rerum illum. Mollitia harum perspiciatis iusto asperiores voluptatem
        doloremque perferendis, eius odit nihil suscipit distinctio consequatur beatae dicta et quibusdam repudiandae.
        Nostrum culpa, quae consectetur adipisci alias nam reprehenderit vel ducimus ipsa molestiae? Ad quisquam
        corrupti asperiores cum facere numquam est repellendus voluptate exercitationem distinctio maxime porro iure
        omnis quo harum ratione obcaecati minus non nemo officia eaque, quaerat voluptatum? A tempora magni expedita
        neque vero quo alias, earum consequatur atque nemo iure molestiae iste ipsam illo veniam saepe commodi fuga
        reiciendis perferendis, ex aspernatur cum? Atque, facilis error. Rerum nobis corporis est totam, earum minus
        libero, veniam voluptatum quasi suscipit distinctio quia porro magnam nesciunt, veritatis recusandae inventore.
        Cupiditate excepturi aspernatur maxime voluptates eum, ipsum iure quam facilis corrupti ab corporis ad, dicta
        in aperiam quia unde nemo velit inventore doloribus sunt tempora! Porro nam labore quae facilis. Tempora
        reprehenderit dolor omnis alias id quo sed adipisci, molestiae aspernatur expedita voluptate nisi. Maxime
        nihil, deleniti inventore nam enim quia corrupti, dolores beatae eaque, autem dolorum ut esse quaerat. Pariatur
        voluptates architecto error modi tenetur nihil eligendi distinctio ea sunt. Dolor a quibusdam dolores? Neque
        odio fuga ipsa nisi, nesciunt libero dolores sunt perspiciatis quibusdam eius voluptatibus illum, aliquam minus
        maiores ullam ex vitae temporibus corrupti eveniet dolore deleniti fugiat debitis animi a? Doloremque ratione
        ipsum ea incidunt, repellat tempore ex dolorem maxime consectetur libero sint laudantium laboriosam accusamus
        autem a harum molestiae voluptatum fuga ducimus eos fugit mollitia quae dolorum doloribus? Laborum, debitis
        pariatur fugit, facere accusamus in nisi quis sint magni voluptas laudantium exercitationem mollitia illo
        tenetur dolorem distinctio soluta iste esse labore. Dolorem nam deserunt adipisci vitae cum ad, veniam sequi
        doloribus, reprehenderit, similique molestiae. Expedita quaerat pariatur, cumque labore fugit explicabo nulla
        iste provident inventore dolorum atque quae! Hic temporibus aut quis vero. Velit distinctio, quis natus eveniet
        assumenda esse, enim dicta libero, exercitationem obcaecati ratione sed sapiente iure! Placeat voluptate
        commodi et maxime quae corporis?
    </main>

<style>
    .parallax-container {
      height: 200px;
    }
</style>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
</body>

</html>