<footer class="page-footer scooter">
    <div class="container">
            <div class="center">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
           <div class="center">
            © 2018 Lasu_Codes
           </div>
        </div>
    </div>
</footer>
