<ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img class="" src="../../images/bg.jpg">
                </div>
                <a href="#!user">
                    <img class="circle small-img" src="../../images/rachel.png">
                </a>
                <a href="#!name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li>
            <a class="waves-effect" href="/admin/dashboard">COMBINED LIST<i class="material-icons">list</i></a>
        </li>
        <li>
            <a class="waves-effect" href="/admin/categories">CATEGORIZED LIST<i class="material-icons">view_list</i></a>
        </li>  
        <li>
                <a class="waves-effect" href="/admin/">SETTINGS<i class="material-icons">settings</i></a>
            </li>        
        <li>
            <a class="waves-effect modal-trigger" href="#modal1">ADD VOCATION<i class="material-icons">mode_edit</i></a>
        </li>
        <li>
            <a class="waves-effect" href="">LOG OUT<i class="material-icons">exit_to_app</i></a>
        </li>
    </ul>